<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/errorPage.css')}}"> 
        <meta content="width=device-width, initial-scale=0.8" name="viewport" minimum-scale="1" user-scalable="no"/>
    </head>
    <body>
        <div class="container">
            <p id="error-code">404</p>
            <p id="page-not-found">Page Not Found</h1>
            <p id="description">The page you are looking for doesn't exist. You have entered the wrong input probably or there are no corona cases in the state at the momemnt.</p>
            <button name="Submit" value="Check for Another State" onclick = "window.location.href='{{ url_for( 'hello' ) }}'; ">Check for Another State</button>
        </div>
    </body>
</html>