<!DOCTYPE html>
<html>
    <head>
        <title> Corona Tracker </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta content="width=device-width, initial-scale=0.8" name="viewport" minimum-scale="1" user-scalable="no"/>
    </head>
    <body>
        <div class="container">
            <div class="center">
                <img src="/static/images/Corona-Tracker.png" height="200px">
                <!-- <h1 class = 'heading'>Corona Tracker</h1> -->
                <div class="input"> 
                    <!-- <h3 class="new-item">Enter the name of State</h3> -->
                    <form action = "{{ url_for('result') }}" method="POST" >
                        <input type="text" name="state" placeholder="Enter the name of state" autocomplete="off">
                        <button name="submit" value="Submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="footer">
                <a href="https://github.com/aman97kalra" id="gt"  class="btn" target="_blank"><img src="/static/images/github.png" height="40px">  </a>
                <p class="copy-rights">Made with love and care by Aman &hearts; </p>
                <!-- <p class="copy-rights"> &copy; 2020 All Rights Reserved </p> -->
            </div>
        </div>
    </body>
</html>
